.login-box {
    width: 500px;
}

.login-footer {
    margin-top: 20px;
    display: flex;

    .col-6 {
        text-align: center; 
        padding-inline: 0px;
    }
}

.toggle-password {
    cursor: pointer;
    
    span {
        font-size: 14px;
    }
}
